.body{
    height: 100vh;
    display: flex;
}

.video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

video{
    position: fixed;
    z-index: -1;
    width: 100%;
}

video::-webkit-media-controls {
    display: none;
}

.acountIcon{
    color: blue;
    width: 510px;
    
}